<?xml version="1.0"?>
<launch>
  <arg name="manager_name" default="nodelet_manager"/>
  <arg name="manager_threads" default="4"/>

  <node pkg="nodelet" type="nodelet" name="$(arg manager_name)" args="manager" output="screen">
    <param name="num_worker_threads" value="$(arg manager_threads)"/>
  </node>

  <node pkg="nodelet" type="nodelet" name="sender"
        args="load measure_delay_nodelet/send_image $(arg manager_name)">
  </node>

  <node pkg="nodelet" type="nodelet" name="measurer"
        args="load measure_delay_nodelet/measure_delay $(arg manager_name)">
  </node>
</launch>
